<%- include('../partials/head.ejs') %>
<main class="error-page-main">
  <div class="error-container">
    <dotlottie-wc
      src="https://lottie.host/720b3c6d-93fa-4f19-a9d4-2bdef7cd5d22/YWtDRHCT8P.lottie"
      autoplay
      loop
    ></dotlottie-wc>
    <a href="/" class="error-home-link">Back to Homepage</a>
  </div>
</main>
<%- include('../partials/footer.ejs') %>
